<hr>
<h3>Assignment 2 - Practice DataBinding</h3>
1. Add an input field which updates a property ('username') via Two Way binding. <br>
2. Output the username via String Interpolation (in a paragraph below the Input) <br>
3. Add a button which may only be clicked if the username is NOT an empty string. <br>
4. Upon clicking the button, the username should be reset to an empty string. <br>

<input type="text" class="form-control" [(ngModel)]='username'>
<p>{{username}}</p>
<button class="btn btn-primary" [disabled]='!hasUserName()' (click)='username=""'>Clear Username</button>
