<div class="container">
    <!-- Our main project -->
    <div class="row">
        <div class="col-xs-12">
            <h3>I am in the app component!</h3>
            <hr>
            <app-servers></app-servers>
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
        </div>
    </div>
    <hr>
    <hr>
    <!-- Start of Our Examples -->
    <h2>Section 9</h2>
    <p>Angular Dependency Injection is Hierarchical.</p>
    <p>This is counter-intuitive so note: A new Service is created when the name of the Service is in the providers array of the component / directive</p>
    <p>providers: [myService] </p>
    <p>A Service created in a module is the same instance for that module and all child modules.</p>
    <p>Create a Service in the App Module if you want the entire application to see it.</p>
    <h3>Using Services and Dependency Injection</h3>
    <app-accounts-example></app-accounts-example>
    <hr>
    <h2>Section 7</h2>
    <h3>Directives Deep Dive</h3>
    <p>There are Structural Directives and Attribute Directives.</p>
    <p>Structural Directives sit on elements just like attributes.</p>
    <p>Structual Directives change the DOM element on which they sit.</p>
    <app-understand-ng-switch></app-understand-ng-switch>
    <app-odd-unless></app-odd-unless>
    <app-struct-directive-behind-the-scenes></app-struct-directive-behind-the-scenes>
    <app-odd-only></app-odd-only>
    <hr>
    <h2>Section 5</h2>
    <h3>Components and Databinding Deep Dive</h3>
    <app-assignment-four></app-assignment-four>
    <app-component-lifecycle></app-component-lifecycle>
    <app-ng-content-projection>I am projecting</app-ng-content-projection>
    <app-view-child-and-dom></app-view-child-and-dom>
    <app-local-reference></app-local-reference>
    <div>
        <h3>68. More on View Encapsulation</h3>
        If your component imports 'ViewEncapsulation' from angular/core <br>
        Then, in the same area as your selector, templateUrl and styleUrls you <br>
        define <br>
        encapsulation: ViewEncapsulation.Emulated; <br>
        This is the default. <br>
        encapsulation: ViewEncapsulation.None; <br>
        Your components styles will be applied globally. <br>
        encapsulation: ViewEncapsulation.Native; <br>
        Forces you component to use the shadow DOM, which will look the same <br>
        as the default if you browser can handle it.<br>
        <br> 
        <h3>67. View Encapsulation</h3>
        In addition to the shadow dom (which isn't widely supported), angular gives the div containing components <br>
        containing each of your components a unique attribute. <br>
        Then, when it reads the css for that component, it modifies the selector <br>
        so it only applies to that container. For example: <br>
        p {{ '{' }} color: blue; {{ '}' }} <br>
        becomes <br>
        p [ejo-101] {{ '{' }} color: blue; {{ '}' }} <br>
        Then, the containing for your component is given the unique attribute <br>
        [ejo-101].
    </div>
    <app-custom-event-binding></app-custom-event-binding>
    <app-custom-property-binding></app-custom-property-binding>
    <h2>Directives</h2>
    <ul>
        <li>Components are directives with templates</li>
        <li>Angular has very useful built in components without templates</li>
    </ul>
    <app-ng-for-index></app-ng-for-index>
    <app-assignment-three></app-assignment-three>
    <app-ng-for></app-ng-for>
    <app-ng-style></app-ng-style>
    <app-ng-class></app-ng-class>
    <app-ng-if-else></app-ng-if-else>
    <app-ng-if></app-ng-if>
    <app-assignment-two></app-assignment-two>
    <app-two-way-binding></app-two-way-binding>
    <app-send-event-data></app-send-event-data>
    <hr>
    <h3>Event Binding</h3>
    <app-event-binding></app-event-binding>
    <hr>
    <h3>Assignment 1</h3>
    <app-success-alert></app-success-alert>
    <app-warning-alert></app-warning-alert>
</div>